.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(108, 243, 108);
    border: 1px solid black;
    border-radius: 10px;
}

.animation-container{
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 15px;
    padding: 20px;
    background-color: green;
    text-align: center;
}

/*@keyframes: los keyframes, nos  premiten crear nuestras animaciones con difrenetes tipos de propiedades que querramos darle.
El keyframe,se crea al igual que un estilo clásico de css, (utilizando llaves), pero luego de poner la palabra keyframe debemos darle un nombre a nuestra animacion.*/

/*EFECTO DESVANECER*/

@keyframes desvanecer{
    /* puedo decir, que las propeidades a aplicar, van desde un punto a otro, o, sino, que van en un determinado porcentaje hasta completar*/
    from {opacity: 1;}
    to {opacity: 0;}
}

#container-desvanecer:hover{
    cursor: pointer;
    animation-name: desvanecer;/*llamamos al nombre de nuestro keyframes*/
    animation-duration: 2s;
}
/*EFECTO MOVIMIENTO puede desplazarse en varias direcciones*/

@keyframes deslizar{
    from{transform: translateX(0);}/*podemos utilizar traslate X para ir de izquierda(con el simbolo -) a derecha o Y para ir de arriba (con el mismo simbolo -) hacia abajo(dejandolo de manera natural)*/
    to{transform: translateX(150px);}
}

#container-deslizar:hover{
    cursor: pointer;
    animation-name: deslizar;
    animation-duration: 3s;
}

/*EFECTO GIRAR*/

@keyframes girar{
    from{transform: rotate(0);}/*gira en una proporcion de grados*/
    to{transform: rotate(360deg);} /*indicar la propiedad con grados la palabra deg*/
}

#container-girar:hover{
    cursor: pointer;
    animation-name: girar;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/*efecto cambio de colores: vamos a cambiar el fondo cada vez que nos posicionemos encima*/

@keyframes cambiar-fondo{
    0%{background-color: red;} /* el % refiere a la division de tiempo*/
    25%{background-color: gold;}
    50%{background-color: greenyellow;}
    100%{background-color: orangered;}
}

#container-fondo:hover{
    cursor: pointer;
    animation-name: cambiar-fondo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/*Efecto de escala: vamos a aumentar su tamaño en una proporcion*/

@keyframes escalar{
from{transform: scale(1,1);}/* la escala 1 es la inicial*/
to{transform: scale(1,1.5);} /*podemos elegir ejeX e ejeY*/

/*tambien podemos decidir QUE ESCALAR
from{transform: scaleY(1);}
to{transform: scaleY(3);}*/
}

#container-escalar:hover{
    cursor: pointer;
    animation-name: escalar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/*EFECTO PERSPECTIVA*/

@keyframes perspectiva{
    from{transform: perspective(150px)rotateX(0);}
    to{transform: perspective(150px)rotateX(-180deg);}
}

#container-perspectiva:hover{
    cursor: pointer;
    animation-name: perspectiva;
    animation-duration: 5s;
}