body{
    background-color: rgb(152, 152, 235);
}
.container{
display:flex;
height: 100vh;
align-items: center;
justify-content: center;
}

table{
    width:100%;
    max-width: 600px;
    border:solid black;
    border-collapse:collapse;
    background-color: #cfcdda;
}

th{
    border:1px solid black; 
    background-color: #abb2d1;
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px;
}
td{
    border: 1px solid black;
    background-color: #8897b8;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    padding: 4px;
}

img{
    width: 70%;
    aspect: ratio 3px / 2px;
    object-fit: contain;

}