/*Etiquetas*/


form{
    display:flex;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    align-items:flex-start;
    flex-direction: column;
}

label{
    margin-bottom: 5px;
}

input,select{
    padding: 4px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #60c7c2;
}

select{
width:75%;
}

button{
    padding: 8px;
    border-radius: 4px;
    border: 1px solid rgb(91, 173, 149);
    cursor: pointer;
    margin-right: 10px;
    color: #fff;
}

#cancelar{
    background-color: rgb(53, 158, 199);
}

#guardar{
    background-color: rgb(30, 230, 236);
}

#cancelar:hover{
    background-color: rgb(11, 142, 194);
}

#guardar:hover{
    background-color: rgb(4, 214, 221);
}
