/*es el uso de la fuente de google

font-family: 'Poppins', sans-serif;
font-family: 'Staatliches', cursive;*/

/*DEFINIMOS LAS VARIABLES Y CONFIGURACIONES GLOBALES PARA EL PROYECTO*/

:root{
    --fuenteHeading:  'Poppins', sans-serif;
    --fuenteParrafo: " 'Staatliches', cursive;";
    --Primario: red;
    --Blanco: white;
    --Negro: black;
    --gris: gray;
    --Aqua: rgb(164, 238, 226);
}

html{
    box-sizing: border-box;/* sirve para evitar tener problemas con los margin y paddings*/
    font-size: 62,5%;/* 1rem=10px*/
}
/* Cuando ponemos un asterisco referenciamos a todos los elementos del documento*/
*,*::before,*::after{
    box-sizing: inherit;
    margin: 0;
}

body{
    font-family: var(--fuenteParrafo);
    font-size: 1,8rem;
    line-height: 2;
    background-color: rgb(206, 200, 200);
}

/* UTILIDADES: clases que van a ejecutar cierto CSS*/

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

 .centrar-texto{
    text-align: center;
 }
/*Elementos de uso Global*/

.contenedor{
    width: min(90%,150rem);
    margin: 0 auto;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4{
    font-family: var(--fuenteHeading);
    color: var(--Blanco);
    line-height: 1.4; /* En este caso esta estiqueta va a servir para que los titulos no se peguen con la continuacion del contenido*/
    -webkit-text-stroke: 1px var(--Negro);
}

h1{
    font-size: 4.8rem;   
}

h2{
    font-size: 4rem;
}

h3{
    font-size :3.2rem;
}

h4{
    font-size: 2.4rem;
}

img{
    max-width: 100%;/*Defino el tamaño maximo que va a tener mis imagenes*/

}

.header{
    background-image: url(/img/banner.jpg);
    height: 60rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.barra{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.navegacion{
    display: flex;
    gap: 2rem;
}

.enlace_navegacion{
    color: var(--Blanco);
    font-size: 2rem;
    font-weight: 700;
}

.header-titulo {
    color: var(--Blanco);
    margin: 10rem;
}

.entrada{
    margin: top 1.5rem;;
    margin-bottom: 1.5rem;
}

.texto-articulo{
    font-weight:800;
    font-family: var(--fuenteParrafo);
}

.boton{
    font-family: var(--fuenteHeading);
    cursor: pointer;
    background-color: var(--Negro);
    color: var(--Blanco);
    padding:0.8rem 2rem;
    font-weight: 900;
}

.contenido-principal{
    display: grid;
    grid-template-columns:1fr 0.5fr;
}

.asideBar{
    margin: 0 1.5rem;
}

.boton-secundario{
    font-family: var(--fuenteHeading);
    cursor: pointer;
    background-color: var(--Aqua);
    color: var(--Negro);
    font-weight: 600;
    display: inline-block;
    font-size: 1rem;
}

.curso{
    list-style: none;
}

.item-curso{
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.footer{
    background-color: var(--Negro);
    margin-top: 2rem;
    padding: 3rem;
}

/* hover: comportamiento al posicionarse SOBRE EL ELEMENTO*/

.boton-primario{
    display: inline-block;
}

.boton-primario:hover{
    background-color: var(--Blanco);
    color: var(--Negro);
    border: 1px solid var(--Negro);
}

.boton-secundario:hover{
    background-color: var(--Negro);
    color: var(--Aqua);
    border: 3px solid var(--Aqua);
}

.enlace_navegacion:hover{
    /*transform: nos permite ejecutar una accion de transformacion al ELEMENTO*/
    transform:scale(1.2);
}

.sobre-nosotros{
display: grid;
grid-template-rows: 1fr 0.5fr;
}

.sobre-nosotros_imagen{
    padding: 0 10rem;
    flex-wrap: wrap;
}

.sobre-nosotros_texto p{
    font-size: 2rem;
    padding: 5rem;
}

.titulo-entrada{
    margin: 2.5rem 0;
}

.curso{
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 1fr 2fr;
}

.negrita{
    font-weight: 700;
}

.contacto-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30rem;
    background-size: cover; 
}

.contenedor-contacto{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.formulario{
    background-color: var(--Blanco);
    margin:-5rem auto 0 auto;
    padding: 5rem;
    width: 95%;
}

.campo{
    display: flex;
    margin-bottom: 2rem;
}

.label-imput{
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
}

.campo-imput{
    flex: 1;
    border-radius: 5px;
    border: 1px solid var(--Negro);
}

.text-area{
    height: 20rem;
    border-radius: 5px;
}

/*MARGIN:SEPARA LOS ELEMENTOS ENTRE SI

margin 2rem; => separa en 2 rem las 4 direcciones
margin 1rem 2rem; => separa en 1rem ARRIBA y ABAJO y en 2rem a la IZQUIERDA Y LA DERECHA
margin 0.5rem 1rem 1.5rem 2rem; => 0.5rem ARRIBA 1rem a la DERECHA 1.5rem ABAJO y 2 rem a la IZQUIERDA

SELECTORES DIRECTOS: seleccionamos directamente donde aplicar el margen

margin-top; margin-bottom; margin-left; margin-right
*/