nav{
background-color: darkorange;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin: 20px;
    margin: top 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1px;
    align-items: center;
    justify-content: center;
}
h2{
font-family: Arial, Helvetica, sans-serif;
margin: 20px;
margin-top:50px;
margin-left: 1px;
margin-right: 1px;
}

body{
    background-color: rgb(238, 229, 229);
}

ul,ol{
    margin:8px;
    margin-top: 10px;
    margin-left: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#Abby{
    object-fit: contain;
    color: red;
}

.WeaponsA{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#Ellie{
    object-fit: contain;
    color: #559ff3;
    
}

.WeaponsE{
    color: #559ff3;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


