

/*font-family: 'Bebas Neue', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Staatliches', cursive;*/

:root{
    --FuenteHeading:'Bebas Neue', sans-serif;
    --FuenteTexto:'Nunito', sans-serif;
    --Primario:rgb(245, 227, 212);
    --secundario:rgb(124, 116, 109);
    --blanco:white;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before,*:after{
    box-sizing: inherit;
}
/*UTILIDADES*/

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.centrar-texto{
    text-align: center;
}

body{
    font-family: var(--FuenteHeading);
    background-image: linear-gradient(to right, red, orange);
    font-size: 1.6rem;
    line-height: 2;
}

/*Parametros Globales*/

.contenedor{
    width: min (90%,120rem);
    margin:0 auto;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4{
    font-family: var(--FuenteHeading);
    line-height: 1.2;
    -webkit-text-stroke: 0.5px black;
    color: var(--blanco);
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;
}

img{
    max-width: 100%;
}

.header{
    background-image: url(/img/the_last_of_us_2-5120103.jpg);
    height: 70rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header_texto{
    text-align: center;
    color: var(--blanco);
    margin-top: 10rem;
}

.barra{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 12rem;
}

.logo{
    color: var(--blanco);
}

.logo_nombre{
    font-weight:400;
}

.logo_bold{
    font-weight: 700;
}

.navegacion{
    display: flex;
    gap: 2.5rem;
}

.navegacion_enlace{
    display: block;
    text-align: center;
    font-size: 2.5rem;
    color: var(--blanco);
}

.contenedor-principal{
    display: grid;
    grid-template-columns: 1fr 1fr;
}