body{
    text-align: center;
    display: grid;
    grid-template-areas:
    "header header"
    "main main"
    "footer footer";
    grid-template-rows: 20% 1fr 5%;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    margin: 0;
}

h1{
    color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    font-style:initial;
}

h3{
    color: black;
    font-size: 1em;
}


p{
    font-size:1em;
    color: black;
}

#mainHeader{
    grid-area: header;
}
#mainBody{
    grid-area: main;
}
#mainFooter{
    grid-area: footer;
}

header{
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(144, 188, 201);
    padding-top: 1px;
}

nav ul{
    font-size: 1.4rem;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    padding:0em;
}
a{
    text-decoration-line: none;
}

li{
    color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}

li:hover{
    color: aliceblue;

}

.card{
    background-color: rgb(194, 187, 187);
    border: 2px solid black;
    border-radius: 10px;
    width: fit-content;
    height: max-content;
    margin: 1em;
}

.card img{
    padding: 1em;
    width: 300px;
    justify-content: center;
    object-fit: contain;
    aspect-ratio: 3/2;
}

.mainText{
    background-image: linear-gradient(to right,rgb(3, 3, 3),rgb(68, 180, 255));
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(370px,1fr));
    justify-content: center;
    object-fit: contain;
}
.mainFooter{
    color: cornsilk;
    background-color: rgb(144, 188, 201);
    margin-top: auto;
}
