body{
    text-align: center;
    display: grid;
    grid-template-areas:
    "header header"
    "main main"
    "footer footer";
    grid-template-rows: 20% 1fr 5%;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    margin: 0px;
}